{% extends 'base.html.twig' %}

{% block title %}Prestation disponibles
{{ parent() }} {% endblock %}

{% block body %}
	<h1>Prestation disponibles</h1>
	<table class="table">
		<thead>
			<tr>
				<th>Créer le</th>
				<th>Nombre d'heure</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for prestation in prestations %}
				{% if prestation.statut.id == 1 %}
								<tr>
					<td>
						<a href="{{ path('prestataire_show', {'id': prestation.id}) }}">{{ prestation.createdAt ? prestation.createdAt|date('d-m-Y') : '' }}</a>
					</td>
					<td>{{ prestation.nbheure }}</td>
					<td>
						{% include "prestataire/prestation/_accepter_form.html.twig" %}
					</td>
				</tr>
{% endif %}
			{% endfor %}
		</tbody>
	</table>
{{ knp_pagination_render(prestations) }}
{% endblock %}
