{% extends 'base.html.twig' %}

{% block title %}Prestation disponibles
{% endblock %}

{% block body %}
	<h1>Prestation disponibles</h1>
	<table class="table">
		<thead>
			<tr>
				<th>Créer le</th>
				<th>Nombre d'heure</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% set nb = 0 %}
			{% for prestation in prestations %}
				{% if prestation.statut.nom == "en attente d'acceptation" %}
				{% set nb = nb + 1 %}
				<tr>
					<td>
						<a href="{{ path('prestataire_show', {'id': prestation.id}) }}">{{ prestation.createdAt ? prestation.createdAt|date('d-m-Y') : '' }}</a>
					</td>
					<td>{{ prestation.nbheure }}</td>
					<td>
						{% include "prestation/_delete_form.html.twig" %}
						<a href="{{ path('prestation_edit', {'id': prestation.id}) }}">modifier cette prestation</a>
					</td>
				</tr>
{% endif %}
			{% endfor %}
			<p>
				vous avez
				{{ nb }}
				prestations en attente d'acceptation</p>
		</tbody>
	</table>
{% endblock %}
