{% extends 'base.html.twig' %}

{% block title %}
	prestations du
	{{ prestation.createdAt|date('d-m-Y') }}
{{ parent() }} {% endblock %}

{% block body %}
	<h1>Prestation demander par
		{{ prestation.user.firstname }}
		le
		{{ prestation.createdAt|date('d-m-Y') }}</h1>
	<a href="{{ path('home') }}">retour à l'accueil</a>
	<table class="table">
		<tbody>
			<tr>
				<th>Statut</th>
				<td>{{ prestation.statut.nom }}</td>
			</tr>
			<tr>
				<th>Type</th>
				<td>{{ prestation.type.nom }}</td>
			</tr>
			<tr>
				<th>Créé le</th>
				<td>{{ prestation.createdAt ? prestation.createdAt|date('Y-m-d') : '' }}</td>
			</tr>
			<tr>
				<th>Nombre d'heure</th>
				<td>{{ prestation.nbheure }}</td>
			</tr>
						<tr>
								<th>Doit se terminer le</th>
					<td>
					{{ prestation.endAt|date('Y-m-d') }}
										</td>
			</tr>
			<tr>
<th>Instruction</th>
{% if prestation.instruction is null %}
				<td>Aucune instruction n'a été fournie pour cette prestation</td>
			{% else %}
		<td>{{ prestation.instruction.contenu }}</td>	
			{% endif %}
			</tr>
		</tbody>
	</table>
{% endblock %}
