{% extends 'base.html.twig' %}

{% block title %}S'inscrire
	{{ parent() }}
{% endblock %}

{% block body %}
	{% for flashError in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flashError }}</div>
	{% endfor %}
	<h1>S'inscrire</h1>

	{{ form_start(registrationForm) }}
	{{ form_row(registrationForm.email) }}
	{{ form_row(registrationForm.firstName) }}
	{{ form_row(registrationForm.lastName) }}
	{{ form_row(registrationForm.phone) }}
	{{ form_row(registrationForm.address) }}
	{{ form_row(registrationForm.postalCode) }}
	{{ form_row(registrationForm.city) }}
	{{ form_row(registrationForm.plainPassword) }}
	<button type="submit" class="btn">S'inscrire</button>
	{{ form_end(registrationForm) }}
{% endblock %}
