{% extends 'base.html.twig' %}

{% block title %}Postuler chez nous {{ parent() }} {% endblock %}

{% block body %}
<h2>    On recrute</h2>
{{ form_start(form, {'action': path('travailleurs_postuler'), 'method': 'POST'}) }}
            {{ form_widget(form) }}
<button class="btn btn-primary btn-lg js-modal">
{{ button_label|default('Postuler ma demande') }}

</button>
{{ form_end(form) }}
{% endblock %}
