{% extends 'base.html.twig' %}

{% block title %}Prestation index{% endblock %}

{% block body %}
    <h1>Prestation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>CreatedAt</th>
                <th>Nbheure</th>
                <th>Statut</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for prestation in prestations %}
            <tr>
                <td>{{ prestation.id }}</td>
                <td>{{ prestation.createdAt ? prestation.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ prestation.nbheure }}</td>
                <td>{{ prestation.statut ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('prestation_show', {'id': prestation.id}) }}">show</a>
                    <a href="{{ path('prestation_edit', {'id': prestation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('prestation_new') }}">Create new</a>
{% endblock %}
