{% extends 'base.html.twig' %}

{% block title %}Prestation
{% endblock %}

{% block body %}
	<h1>Prestation</h1>
	<a href="{{ path('home') }}">retour à l'accueil</a>
	<table class="table">
		<tbody>
			<tr>
				<th>Statut</th>
				<td>{{ prestation.statut }}</td>
			</tr>
		            <tr>
				<th>Type</th>
				<td>{{ prestation.type }}</td>
			</tr>
		                    <tr>
				<th>Créé le</th>
				<td>{{ prestation.createdAt ? prestation.createdAt|date('Y-m-d') : '' }}</td>
			</tr>
			<tr>
				<th>Nombre d'heure</th>
				<td>{{ prestation.nbheure }}</td>
			</tr>
			        </tbody>
	</table>
{% endblock %}
