<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="#">Guinot Bibliotheque</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="{{path('home')}}">Accueil
					<span class="sr-only">(current)</span>
				</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Prestations
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="{{path('home')}}">Livres</a>
					<a class="dropdown-item" href="{{path('home')}}">CD-Rom</a>
					<a class="dropdown-item" href="{{path('home')}}">Journaux</a>
					<a class="dropdown-item" href="{{path(	'home')}}">MicroFilms</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#"></a>
				</div>
			</li>
			</ul>
{% if app.user %}
			
			<ul class="navbar-nav mr-left">

			
				<li class="nav-item">
					<a class="nav-link" href="{{ path('profil', {'id': app.user.id}) }}">Profil</a>
				</li>
<li class="nav-item">
					<a class="nav-link" href="{{path('app_logout')}}">Se déconnecter</a>
				</li>
			{% else %}
				<li class="nav-item">
					<a class="nav-link" href="{{path('app_login')}}">Connexion</a>
				<a class="nav-link" href="{{path('app_register')}}">Inscription</a>
				</li>


			{% endif %}


		</ul>
	</div>
</nav>
        {% for message in app.flashes('success') %}
		            <div class="alert alert-success">
					{{ message }}
					            </div>
								        {% endfor %}
										